body, html{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateZ(-1px) scale(1.5);
}

.conteudo{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px 16px;
    background-color: rgba(240, 248, 255, 0.6);
    color: #f5901df5;
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #974248;
    border-radius: 2em;
    
}

.fundo1::before{
    background-image: url(img/por.jpg);

}

.fundo2::before{
    background-image: url(img/sol.webp);
}

.conteudo1{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(240, 248, 255, 0.6);
    color: #8d6cc2;
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #00a2ad;
    border-radius: 2em;
}
